snippet from
	from ${1:module} import ${2}
# __magic__
snippet __
	__${1:init}__${2}
snippet pdb
	import pdb; pdb.set_trace()
snippet utf
	#-*- coding: utf-8 -*-
# Django snippets
snippet _
	from django.utils.translation import ugettext_lazy as _

